#customerNameReview{
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    font-weight: bold;
    display: flex;
}
#cutomerRattingReview{
    display: flex;
}
#customerTextReview{
    display: flex;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #707070;
}