.homePageBase{
    height: 100vh;
    width: 100vw;
}
.proifileContainer{
    position: absolute;
    height: 162px;
    width: 261px;
    left: 1010px;
}
.display{

    height:  auto;
    margin-left: 177px;
    margin-right: 177px;
}
#upperDiv{
    height: 50px;
    display: flex;
    align-items: center;
}
#booksHeading{
    font-size: x-large
}
#lowerDiv{
    display: flex;
    flex-wrap: wrap; /* make all not in the box not increase the width */
    justify-content: start;
    width: auto;
}