.emailLabel{
    position: absolute;
    width: 36px;
    height: 13px;
    text-align: left;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: capitalize;
    opacity: 1;
}
.email{
    /* Layout Properties */
    position: absolute;
    width: 252px;
    height: 35px;
}
