/* css for all child component which is same */
#signupComponent *{
    position: absolute;
}
.loginHeadSignup,.signupHeadSignup{
    display: inline-block;
    font: normal normal medium 25px/33px Roboto;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin: 0%;
    top: 28px;
}
.loginHeadSignup{ 
    /* for make cursor pointer when we hovew over heading  */
    cursor: pointer; 
    left: 69px;
    color: #878787;
}
.signupHeadSignup{
    left : 223px;
    color: #0A0102;;
}
.healineSignup{
    top:64px;
    left:257px;
    width: 22px;
    height: 5px;
    /* UI Properties */
    background: #A03037 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
}

/* css for all lable */
#fullNameLabel, #emailSignuplabel, #pwdLabel, #mobLabelSignup{
    left: 69px;
    width: auto;
    height: 13px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: capitalize;
    opacity: 1;
}
#fullNameLabel{
    /* Layout Properties */
    top: 91px;
}

/* css for all input box */
.inputbox{ 
    left: 69px;
    width: 252px;
    height: 35px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* border: 1px solid #E2E2E2; */
    border-radius: 2px;
    opacity: 1;
}
#inputName{
    top: 104px;

}

/* css for all diplay error */
#userN_error, #emailError, #passwordError, #mobileError{
    left: 69px;
    width: auto;
    height: 10px;
    /* UI Properties */  
    font: normal normal normal 8px/10px Roboto;
    letter-spacing: 0px;
    color: #FF001C;
    opacity: 1;
}

#userN_error{
    top: 135px;

}
#emailSignuplabel{
    top: 154px;
}
#emailSignup{
    top: 167px;
}
#emailError{
    top: 197px;
}
#pwdLabel{
    top: 217px;
}
#pwdSignup{
    top: 230px;
}
#passwordError{
    top: 261px;
}
#mobLabelSignup{
    top:280px;
}
#mobSignup{
    top:293px;
}
#mobileError{
    top: 325px;
}
#signupButton{
    top: 350px;
    left:69px;
    width: 259px;
    height: 37px;
    /* UI Properties */
    background: #A03037 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
}
#signupText{
    top: 9px;
    left: 104px;
    width: 46px;
    height: 20px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}